body{
    background-image: url("./concrete.png");
}
.navbar-brand{
    background-color: aquamarine;
    padding: 15px;
}
#navbarNav{
    margin-left: 720px;
}


.contact{
    margin-left: 251px;
    height: 191px;
    width: 619px;
    background-color: white;
    padding: 15px;
}

.media{
    margin-left: 330px;
    height: 450px;
    width: 450px;
    background-color: white;
}
.selfie{
    float: none;
}
.footer{
    width: 100%;
    height: 40px;
    background-color: rgb(20, 150, 143);
}